<!doctype html>
<head xmlns="http://www.w3.org/1999/html">
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="Brendan Ryan">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="assets/build/css/styles.css"/>
{% block stylesheets %}{% endblock %}
<!-- /styles -->

<!-- favicons -->
<!-- /favicons -->


</head>
<body>

    <!-- Begin page content -->
    <section class="container" role="main">
        <section class="content">
            {% block content %} {% endblock %}
        </section>
    </section>

  <!--
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://underscorejs.org/underscore.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="assets/javascripts/CustomTooltip.js"></script>-->
  <script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
  <script src="assets/build/js/bundle.js"></script>
    {% block bottom_scripts %}{% endblock %}
</body>
