
section.vis-list{
  text-align: center;
  list-style: none;
}

.vis-list ul {
  list-style: none;
}

.vis-list ul li{
  margin: 20px;
}

.vis-list ul li a {
  text-decoration: none;
  color: black;
}
.vis-list ul li a:hover{
  text-decoration: none;
  color: rgb(49, 142, 222);
}
