//annotation.scss

.annotation {
  ul{
    list-style: default;
  }
  li {
    padding: 10px 0;
  }

  &:hover, &:active {
    background: yellow;
  }

}

.annotation-text {
 background-color: rgba(233, 255, 0, 0.33);
 padding: 0 5px;
 color: inherit;
 vertical-align: baseline;
 font-size: inherit;
 font-weight: inherit;
 line-height: 30px;
 border: none;

 &:hover, &:active, &:focus {
  background-color: darken($highlight, 15%);
  color: inherit;
  text-decoration: none;
}
}

.pop-over {
  padding: 5px;
}

.popover-title{
  background: white;
  text-style: bold;
}
.popover-content{

}