//annotation.scss

.annotation {
ul{
  list-style: default;
}
li {
  padding: 10px 0;
}

  &:hover, &:active {
    background: yellow;
  }

}

.annotation-text {
  background-color: $highlight;
  padding: 0 5px;

  &:hover, &:active {
    background-color: darken($highlight, 15%);

  }
}

.popover {

}

.popover-title{
  background: white;
  text-style: bold;
}
.popover-content{

}