.citation {

}

.citation-holder {
}

.citation-icon {
  position: relative;

  i {
    font-size: 1.5rem;
    position: absolute;
    right: -7.5px;
    top: -7.5px;
    color: rgba(102, 3, 255, 1);
  }
}
