$text-default: rgba(0,0,0,.8);
$text-secondary: rgba(0,0,0,.6);
$text-tertiary: rgba(0,0,0,.33);

$icon-primary: rgba(0,0,0,.25);
$border-dark: rgba(0,0,0,.75);
$border-primary: rgba(0,0,0,.25);
$border-secondary: rgba(0,0,0,.1);

$link-blue: #428bca;
$citation-blue: rgba(66, 139, 202, 0.75);
$highlight: rgba(233, 255, 0, 0.33);
$citation-purple: rgba(102, 3, 255, 1);