.comment-sidebar {

  position: absolute;
  right: 16.66667%;

  &.hidden{
    visibility: none;
    position: static;
  }

  .comment-icon {
    color: $icon-primary;
  }

  &:hover {
    .comment-icon {
      color: $text-secondary;
    }
  }

}
