.comment {
  display: block;
  //border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 10px 0 0px 0;
  color: $text-secondary;
  font-size: 1.5rem;
  border-left: 1px solid $border-primary;
  padding-left: 15px;
  &:first-child {
    margin-top: 35px;
  }

  .author {
    font-weight: bold;
  }

  .text {
    font-size: 1.33rem;
  }

}