.data{
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.bar{
  fill: steelblue;
  fill-opacity: .9;
}

.container{
    margin: 0 auto;
}

header hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 30%;
}

.label {}
.label-max{
    font-weight: bold;
}
.axis {
  font: 10px sans-serif;
}

.chart{
    margin-top: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

section.vis-list{
  text-align: center;
  list-style: none;
}

.vis-list ul {
  list-style: none;
}

.vis-list ul li{
  margin: 20px;
}

.vis-list ul li a {
  text-decoration: none;
  color: black;
}
.vis-list ul li a:hover{
  text-decoration: none;
  color: rgb(49, 142, 222);
}
