@import 'reset';
@import 'variables';
@import 'colors';
@import 'fonts';
@import 'globals';
@import 'bootstrap';
@import 'prism';

//component specific imports
@import 'main';
@import 'app';
@import 'chart';
@import 'content';
@import 'header_paper';
@import 'text_block';
@import 'header_section';
@import 'content';
@import 'code_block';
@import 'annotation';
@import 'comment_sidebar';
@import 'comment_form';
@import 'comment_list';
@import 'comment';
@import "citation";
@import "bibliography";
@import "bibliography_source";
@import "toggle_mode_button.scss";
@import 'nv';
@import "full_width_header";

.group text {
  font: 11px sans-serif;
  pointer-events: none;
}

.group path {
  stroke: #000;
}

path.chord {
  stroke-width: .75;
  fill-opacity: .75;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

