//text_block.scss

.text-block{

  letter-spacing: 0.01rem;
  font-size: 19px;
  line-height: 32px;
  margin-bottom: 12.5px;
  margin-top: 12.5px;

  &.align-right{
    text-align: right;
  }

  &.align-left {
    text-align: left;

  }

  &.align-center {
    text-align: center;
  }

  &.text-block-quote {
    border-left: 3px solid $text-default;
    font-style: italic;
  }


  &:hover {

    .comment-sidebar {
      visibility: visible !important;
      display: block !important;
    }
  }


}