//text_block.scss

.text-block{

  &.align-right{
    text-align: right;
  }

  &.align-left {
    text-align: left;

  }

  &.align-center {
    text-align: center;
  }

  p {
    letter-spacing: 0.01rem;
    font-style: normal;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 12.5px;
    margin-top: 12.5px;
  }
}