.toggle-mode-button {
  z-index: 100;
  position: fixed;
  right: 50px;
  top: 25px;
  color: $icon-primary;
  padding: 25px;

  .icon-container:hover {
    * {
      color: $citation-blue;
    }
  }

  i {
    color:$icon-primary;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .transition-text {
    padding: 10px;
    color: $text-secondary;
    font-size: 2rem;
    vertical-align: super;
  }

}