.toggle-mode-button {
  position: fixed;
  right: 50px;
  top: 25px;
  color: $icon-primary;
  padding: 25px;

  i {
    color:$icon-primary;
  }
  i:hover {
   color: $citation-blue;
  }

  .transition-text {
    padding: 10px;
  }
}