.toggle-mode-button {
  z-index: 100;
  position: fixed;
  right: 50px;
  top: 25px;
  color: $icon-primary;
  padding: 25px;

  i {
    color:$icon-primary;

    &:hover {
     color: $citation-blue;
   }
 }

 a {
  &:hover {
    text-decoration: none;
    color: $citation-blue;
  }
 }

 .transition-text {
  padding: 10px;
  color: $text-secondary;
  font-size: 2rem;
  vertical-align: super;
}
}